# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hardhat
artifacts/
cache/
typechain/
typechain-types/

# Frontend
frontend/node_modules/
frontend/dist/

# Blockchain
blockchain/node_modules/
blockchain/artifacts/
blockchain/cache/
blockchain/error.log
blockchain/error_cmd.log
